body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.css-display{
    color: wheat;
    font-size:30px;
}
.number{
    background-color: rgb(51, 50, 50);
    height: 50px;
    width: 50px;
    border: none;
    border-radius:25px; 
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.sign{
    background-color: rgb(209, 86, 3);
    height: 50px;
    width: 50px;
    border: none;
    border-radius:25px; 
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
 
}