body{
    font-family: Arial, Helvetica, sans-serif;
}
.to-do-grid,.to-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap: 20px;
    text-align: left;
    align-items: center;
}
.to-input-grid{
    margin-bottom: 10px;
    align-items: stretch;

}
.to-do-input{
    padding: 10px;
}
.add-btn{
    background-color: rgb(14, 118, 14);
    border: none;
    color: white;
    cursor: pointer;
   
}

.del-css{
    background-color: rgb(211, 35, 35);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;

    
}
